*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #333;
}

header {
    border-bottom: 2px solid #333;
    text-align: center;
}

header h1 {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spiral-container {
    text-align: center;
}

.spiral {
    font-size: 3rem;
    /* Animation doesn't work on inline elements */
    display: inline-block;
    animation: spin 1.5s linear infinite;
}


.letter-boxes-container {
    /* centering */
    width: 366px;
    margin: 0.7rem auto;
    display: grid;
    grid-template-columns: repeat(5, 4rem);
    grid-template-rows: repeat(6, 4rem);
    gap: 0.7rem;
}

.letter-box {
    font-size: 3.5rem;
    text-transform: uppercase;
    border: 3px solid #ccc;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Utility Classes */
.hidden {
   visibility: hidden;
}

.correct {
    background-color: darkgreen;
    color: white;
}

.close {
    background-color: goldenrod;
    color: white;
}

.wrong {
    background-color: #888;
    color: white;
}

/* flashes red border and then fades back to gray */
@keyframes flash {
    5% {
        border-color: crimson;
    }

    100% {
        border-color: #ccc;
    }
}

.invalid {
    animation: flash 1s;
}

/* winner animation */

@keyframes rainbow {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }
    8% {
        color: rgb(255, 127, 0);
    }
    16% {
        color: rgb(255, 255, 0);
    }
    25% {
        color: rgb(127, 255, 0);
    }
    33% {
        color: rgb(0, 255, 0);
    }
    41% {
        color: rgb(0, 255, 127);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    58% {
        color: rgb(0, 127, 255);
    }
    66% {
        color: rgb(0, 0, 255);
    }
    75% {
        color: rgb(127, 0, 255);
    }
    83% {
        color: rgb(255, 0, 255);
    }
    91% {
        color: rgb(255, 0, 127);
    }
}

.winner {
    animation: rainbow 4s infinite linear;
}